<div class="hero-unit">
<h1>All the Corpses</h1>

<table>
<% @corpses.each do |corpse| %>
 <tr>
    <td class="drawing-display">
    	<img src=" <%= corpse.attributes['t.image_top'] %> " width="120px" height="auto"></src><br>
        <img src=" <%= corpse.attributes['t.image_bottom'] %> " width="120px" height="auto"></src><br>
        <img src=" <%= corpse.attributes['b.image_bottom'] %> " width="120px" height="auto"></src>
    </td>
    <td>
      <p><%= link_to 'Show', corpse %> | <%#= link_to 'Destroy', pair, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </td>
    
  </tr>
<% end %>
</table>

<br />
</div>