<h1>New Drawing Pair</h1>
<% (Drawing.all).each do |drawing| 
       if drawing.type_id == "1"
       	 head_drawing = drawing.image 
       end 
    end %>

  <img src="<%= head_drawing %>"></src>
<%= link_to 'Show', @drawing %> |
<%= link_to 'Back', drawings_path %>
