<div class="hero-unit">

<p>
	<b>Your Drawing:</b>
</p>
<p>
	<img src="<%= @drawing.image %>" />
</p>
<p>
	<b>Drawing Type:</b>
    <td><b><%= @drawing_type.type_description %></b></td>
    
	<% #if @drawing.type_id == 1 %>
        <!--<td><b>Head</b></td>-->
    <% #elsif @drawing.type_id == 2 %>
        <!--<td><b>Torso</b></td>-->
    <% #elsif @drawing.type_id == 3 %>
        <!--<td><b>Legs</b></td>-->
    <% #else %>
        <!--<td><b>Unknown</b></td>-->
    <% #end %>
</p>
</div>
<%= link_to 'Back', drawings_path %>
