<div class="hero-unit">

<p>
	<b>Your Drawing:</b>
</p>
<p>
	<img src="<%= @drawing.image %>" />
</p>
<p>
	<b>Drawing Type:</b>
    <td><b><%= @drawing_type.type_description %></b></td>
</p>
</div>
<%= link_to 'Back', drawings_path %>
