<div class="hero-unit">

<p>
	<b>Your Drawing:</b>
</p>
<p>
	<img src="<%= @drawing.image %>" />
</p>
<p>
	<b>Drawing Type:</b>
	<% if @drawing.type_id == 1 %>
        <td><b>Head</b></td>
    <% elsif @drawing.type_id == 2 %>
        <td><b>Torso</b></td>
    <% else %>
        <td><b>Legs</b></td>
    <% end %>
</p>
</div>
<%= link_to 'Edit', edit_drawing_path(@drawing) %> |
<%= link_to 'Back', drawings_path %>
