/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

/* default canvas, has grey bar on bottom */
 canvas {
  border: 1px solid;
  cursor: crosshair;
  display: block;
}

.canvas-bottom {
  background:url("gray_bottom.png");
  border-top-color:gray;
  border-left-color:gray;
  border-right-color:gray;
  border-bottom-color:lightgray; 
}
/* other canvas, has grey bar on top */
.canvas-top {
  background:url("gray_top.png");
  border-top-color:lightgray;
  border-left-color:gray;
  border-right-color:gray;
  border-bottom-color:gray; 
}

/* center canvas, has grey bars on both top & bottom */
.canvas-both {
  background:url("gray_both.png");
  border-top-color:lightgray;
  border-left-color:gray;
  border-right-color:gray;
  border-bottom-color:lightgray; 
}

/* forms */

input {
  height: auto !important;
}

/* Prevent text selection */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


 h2 {
  font-size: 2.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: #333;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 90px;
  padding-left: 30px;
  padding-right: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* header */

#logo {
  float: left;
  font-size: 1.5em;
  margin-right: 60px;
  color: #f00;
  padding-top: 10px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: -2px;
  &:hover {
  color: #fff;
  text-decoration: none;
  }
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.pair-form {
  margin-bottom: 0px;
}

.crop-top {
  float:left;
  margin:.5em 0px .5em 0;
  padding: 0px;
  overflow:hidden; 
  border:1px solid #dcdcdc;
  background-color: #dcdcdc;
  vertical-align: bottom;
  }
  /* input values to crop the image: top, right, bottom, left */
.crop-top img {
  margin:-180px 0px 0px 0px;
  vertical-align: bottom;
  border:1px solid;
  border-bottom-color: #dcdcdc;
  border-left-color: gray;
  border-right-color: gray;
  border-top-color: gray;
  }

.crop-bottom {
  float:left;
  margin:.5em 0px .5em 0;
  padding-bottom: 0px;
  overflow:hidden; 
  border:1px solid #dcdcdc;
  background-color: #dcdcdc;
  vertical-align: top;
  }
  /* input values to crop the image: top, right, bottom, left */
.crop-bottom img {
  margin:0px 0px -180px 0px;
  vertical-align: top;
  border:1px solid;
  border-bottom-color: gray;
  border-left-color: gray;
  border-right-color: gray;
  border-top-color: #dcdcdc;
  }

.border-bottom {
  border: 1px solid;
  border-bottom-color: gray;
  border-left-color: gray;
  border-right-color: gray;
  border-top-color: #dcdcdc;
}

.border-top {
  border: 1px solid;
  border-bottom-color: #dcdcdc;
  border-left-color: gray;
  border-right-color: gray;
  border-top-color: gray;
}

.pair-top-buttons {
  position:absolute;
  left:665px;
  top:240px;
}

.pair-bottom-buttons {
  position:absolute;
  left:665px;
  top:410px;
}

/* make background display white for drawings */
.drawing-display {
  background-color:white;
}
